.logo {
    padding-left: 22px;
}

.database-container .button {
    margin-right: 2px;
}

.collections-container {
    margin-top: 30px;
}

.collection-list-item {
    clear: both;
}

.collection-list-item .collection-link {
    float: left;
}

.collection-list-item .close-btn {
    float: right;
}

.collection-title h3{
    float: left;
}
.collection-title .button {
    float: right;
}

.query {
    clear: both;
}
.query > textarea {
    height: 150px;
    resize: none;
}

.query > a {
    float: left;
    margin-bottom: 6px;
    font-size: 0.7rem;
}

.query > .show-btn {
    display: none;
}

.query.collapsed > textarea{
    display: none;
}

.query.collapsed > .hide-btn {
    display: none;
}

.query.collapsed > .show-btn {
    display: block;
}

.collection {
    clear: both;
}

.col-item {
    border: 1px solid #ccc;
    padding: 10px;
    padding-bottom: 8px;
    margin-bottom: 10px;
}

.col-item > div {
    margin-bottom: 2px;
}

.col-item .label {
    width: 75px;
    margin-right: 10px;
}

.col-item .field {
    font-size: 0.6875rem;
}

.reveal-modal .button-group{
    float: right;
}

#document-modal-view textarea{
    height: 300px;
}