a.button {
    -webkit-user-select: none;
    user-select: none;
}
input[type="checkbox"] {
    margin: 0;
    vertical-align: middle;
    margin-left: 10px;
    margin-bottom: 1px;
}

.logo {
    padding-left: 22px;
}

.database-container .button {
    margin-right: 2px;
}

.collections-container {
    margin-top: 30px;
}

.collection-list-document {
    clear: both;
}

.collection-list-document .collection-link {
    float: left;
    width: 180px;
}

.collection-list-document .close-btn {
    float: right;
}

.collection-title h3{
    float: left;
}
.collection-title .button {
    float: right;
}

.query {
    clear: both;
}
.query-panel > textarea {
    height: 150px;
    resize: none;
    margin-bottom: 10px;
}

.query-panel label {
    padding-top: 10px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.query-panel label span {
    display: block;
    width: 80px;
}

.query-panel label input {
    border: 1px solid #ccc;
}

.query-panel > .button {
    float: left;
    margin-top: 21px;
    width: 100px;
    margin-left: 10px;
}

.query > a {
    float: left;
    margin-bottom: 6px;
    font-size: 0.7rem;
}

.query > .show-btn {
    display: none;
}

.query.collapsed > .query-panel{
    display: none;
}

.query.collapsed > .hide-btn {
    display: none;
}

.query.collapsed > .show-btn {
    display: block;
}

.collection {
    clear: both;
}

.col-document {
    border: 1px solid #ccc;
    padding: 10px;
    padding-bottom: 8px;
    margin-bottom: 10px;
    cursor: pointer;
}

.col-document > div {
    margin-bottom: 2px;
}

.col-document .label {
    width: 75px;
    margin-right: 10px;
}

.col-document .field {
    font-size: 0.6875rem;
}

.col-document .json {
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #008cba;
    line-height: 16px;
    font-family: monospace;
    clear:both;
}

.col-document .button-group {
    float: right;
}
.col-document .button-group .button {
    margin: 0px;
    height: 27px;
    line-height: 9px;
}

.reveal-modal .button-group{
    float: right;
}

.reveal-modal .error {
    color: red;
}

#new-document-modal textarea, #update-document-modal textarea{
    height: 300px;
}

#new-collection-modal .occ-field {
    margin-bottom: 10px;
}